.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Consolas", Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    color: white;
}
body {
    background-color: black;
}
.site {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at top, chocolate, goldenrod);
}
.middle {
    margin-left: 25%;
    width: 50%;
    height: 75vh;
}
.banner {
    padding: 20px;
}
.header {
    font-size: 30pt;
    font-family: Michroma;
    font-weight: bold; 
    color:white;
}