body {
    background: linear-gradient(black, lime);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Jersey 15", sans-serif;
    font-size: larger;

    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
p {
    color: lime;
    font-family: "consolas", sans-serif;
}
h1 {
    color: limegreen;
    border-bottom-style: double;
}
#pline {
    border-style: double;
    border-color: green;
    padding: 5px;
}
#box1 {
    border: 5px solid;
    width: 500px;
    height: 250px;
    font-size: 20px;
    font-family: "consolas", sans-serif;
    background: green;

    padding: 10px;
}
#box2 {
    border: 5px solid;
    width: 500px;
    height: 250px;
    font-size: 20px;
    font-family: "consolas", sans-serif;
    background: green;

    padding: 10px;
}